# Pandas

In [49]:
import pandas as pd
data={'country' : ['India','USA','Brazil',],
       'Capital': ['New Delhi','Washington','Rio'],
         'Population': [135,30,20]}
df=pd.DataFrame(data,columns=['country','Capital','Population'])

df.to_csv('country.csv')      ## TO store Dataframes object into csv
read_data=pd.read_csv('country.csv')      ## To read data from CSV
read_data.set_index('country')              
#df.to_excel('country.xlsx',sheet_name='Sheet1')    ## To store dataframe into Excel_File
#e_file=pd.read_excel('country.xlsx')                 ## TO read Excel File
help(pd.Series.loc)
help(pd.DataFrame.iloc)

Help on property:

    Access a group of rows and columns by label(s) or a boolean array.

    ``.loc[]`` is primarily label based, but may also be used with a
    boolean array.

    Allowed inputs are:

    - A single label, e.g. ``5`` or ``'a'``, (note that ``5`` is
      interpreted as a *label* of the index, and **never** as an
      integer position along the index).
    - A list or array of labels, e.g. ``['a', 'b', 'c']``.
    - A slice object with labels, e.g. ``'a':'f'``.

      .. warning:: Note that contrary to usual python slices, **both** the
          start and the stop are included

    - A boolean array of the same length as the axis being sliced,
      e.g. ``[True, False, True]``.
    - A ``callable`` function with one argument (the calling Series or
      DataFrame) and that returns valid output for indexing (one of the above)

    See more at :ref:`Selection by Label <indexing.label>`

    Raises
    ------
    KeyError
        If any items are not found.

    See Also
    --------
    DataFrame.at : Access a single value for a row/column label pair.
    DataFrame.iloc : Access group of rows and columns by integer position(s).
    DataFrame.xs : Returns a cross-section (row(s) or column(s)) from the
        Series/DataFrame.
    Series.loc : Access group of values using labels.

    Examples
    --------
    **Getting values**

    >>> df = pd.DataFrame([[1, 2], [4, 5], [7, 8]],
    ...      index=['cobra', 'viper', 'sidewinder'],
    ...      columns=['max_speed', 'shield'])
    >>> df
                max_speed  shield
    cobra               1       2
    viper               4       5
    sidewinder          7       8

    Single label. Note this returns the row as a Series.

    >>> df.loc['viper']
    max_speed    4
    shield       5
    Name: viper, dtype: int64

    List of labels. Note using ``[[]]`` returns a DataFrame.

    >>> df.loc[['viper', 'sidewinder']]
                max_speed  shield
    viper               4       5
    sidewinder          7       8

    Single label for row and column

    >>> df.loc['cobra', 'shield']
    2

    Slice with labels for row and single label for column. As mentioned
    above, note that both the start and stop of the slice are included.

    >>> df.loc['cobra':'viper', 'max_speed']
    cobra    1
    viper    4
    Name: max_speed, dtype: int64

    Boolean list with the same length as the row axis

    >>> df.loc[[False, False, True]]
                max_speed  shield
    sidewinder          7       8

    Conditional that returns a boolean Series

    >>> df.loc[df['shield'] > 6]
                max_speed  shield
    sidewinder          7       8

    Conditional that returns a boolean Series with column labels specified

    >>> df.loc[df['shield'] > 6, ['max_speed']]
                max_speed
    sidewinder          7

    Callable that returns a boolean Series

    >>> df.loc[lambda df: df['shield'] == 8]
                max_speed  shield
    sidewinder          7       8

    **Setting values**

    Set value for all items matching the list of labels

    >>> df.loc[['viper', 'sidewinder'], ['shield']] = 50
    >>> df
                max_speed  shield
    cobra               1       2
    viper               4      50
    sidewinder          7      50

    Set value for an entire row

    >>> df.loc['cobra'] = 10
    >>> df
                max_speed  shield
    cobra              10      10
    viper               4      50
    sidewinder          7      50

    Set value for an entire column

    >>> df.loc[:, 'max_speed'] = 30
    >>> df
                max_speed  shield
    cobra              30      10
    viper              30      50
    sidewinder         30      50

    Set value for rows matching callable condition

    >>> df.loc[df['shield'] > 35] = 0
    >>> df
                max_speed  shield
    cobra              30      10
    viper               0       0
    sidewinder          0       0

    **Getting values on a DataFrame with an index that has integer labels**

    Another example using integers for the index

    >>> df = pd.DataFrame([[1, 2], [4, 5], [7, 8]],
    ...      index=[7, 8, 9], columns=['max_speed', 'shield'])
    >>> df
       max_speed  shield
    7          1       2
    8          4       5
    9          7       8

    Slice with integer labels for rows. As mentioned above, note that both
    the start and stop of the slice are included.

    >>> df.loc[7:9]
       max_speed  shield
    7          1       2
    8          4       5
    9          7       8

    **Getting values with a MultiIndex**

    A number of examples using a DataFrame with a MultiIndex

    >>> tuples = [
    ...    ('cobra', 'mark i'), ('cobra', 'mark ii'),
    ...    ('sidewinder', 'mark i'), ('sidewinder', 'mark ii'),
    ...    ('viper', 'mark ii'), ('viper', 'mark iii')
    ... ]
    >>> index = pd.MultiIndex.from_tuples(tuples)
    >>> values = [[12, 2], [0, 4], [10, 20],
    ...         [1, 4], [7, 1], [16, 36]]
    >>> df = pd.DataFrame(values, columns=['max_speed', 'shield'], index=index)
    >>> df
                         max_speed  shield
    cobra      mark i           12       2
               mark ii           0       4
    sidewinder mark i           10      20
               mark ii           1       4
    viper      mark ii           7       1
               mark iii         16      36

    Single label. Note this returns a DataFrame with a single index.

    >>> df.loc['cobra']
             max_speed  shield
    mark i          12       2
    mark ii          0       4

    Single index tuple. Note this returns a Series.

    >>> df.loc[('cobra', 'mark ii')]
    max_speed    0
    shield       4
    Name: (cobra, mark ii), dtype: int64

    Single label for row and column. Similar to passing in a tuple, this
    returns a Series.

    >>> df.loc['cobra', 'mark i']
    max_speed    12
    shield        2
    Name: (cobra, mark i), dtype: int64

    Single tuple. Note using ``[[]]`` returns a DataFrame.

    >>> df.loc[[('cobra', 'mark ii')]]
                   max_speed  shield
    cobra mark ii          0       4

    Single tuple for the index with a single label for the column

    >>> df.loc[('cobra', 'mark i'), 'shield']
    2

    Slice from index tuple to single label

    >>> df.loc[('cobra', 'mark i'):'viper']
                         max_speed  shield
    cobra      mark i           12       2
               mark ii           0       4
    sidewinder mark i           10      20
               mark ii           1       4
    viper      mark ii           7       1
               mark iii         16      36

    Slice from index tuple to index tuple

    >>> df.loc[('cobra', 'mark i'):('viper', 'mark ii')]
                        max_speed  shield
    cobra      mark i          12       2
               mark ii          0       4
    sidewinder mark i          10      20
               mark ii          1       4
    viper      mark ii          7       1

Help on property:

    Purely integer-location based indexing for selection by position.

    ``.iloc[]`` is primarily integer position based (from ``0`` to
    ``length-1`` of the axis), but may also be used with a boolean
    array.

    Allowed inputs are:

    - An integer, e.g. ``5``.
    - A list or array of integers, e.g. ``[4, 3, 0]``.
    - A slice object with ints, e.g. ``1:7``.
    - A boolean array.
    - A ``callable`` function with one argument (the calling Series or
      DataFrame) and that returns valid output for indexing (one of the above).
      This is useful in method chains, when you don't have a reference to the
      calling object, but would like to base your selection on some value.

    ``.iloc`` will raise ``IndexError`` if a requested indexer is
    out-of-bounds, except *slice* indexers which allow out-of-bounds
    indexing (this conforms with python/numpy *slice* semantics).

    See more at :ref:`Selection by Position <indexing.integer>`.

    See Also
    --------
    DataFrame.iat : Fast integer location scalar accessor.
    DataFrame.loc : Purely label-location based indexer for selection by label.
    Series.iloc : Purely integer-location based indexing for
                   selection by position.

    Examples
    --------

    >>> mydict = [{'a': 1, 'b': 2, 'c': 3, 'd': 4},
    ...           {'a': 100, 'b': 200, 'c': 300, 'd': 400},
    ...           {'a': 1000, 'b': 2000, 'c': 3000, 'd': 4000 }]
    >>> df = pd.DataFrame(mydict)
    >>> df
          a     b     c     d
    0     1     2     3     4
    1   100   200   300   400
    2  1000  2000  3000  4000

    **Indexing just the rows**

    With a scalar integer.

    >>> type(df.iloc[0])
    <class 'pandas.core.series.Series'>
    >>> df.iloc[0]
    a    1
    b    2
    c    3
    d    4
    Name: 0, dtype: int64

    With a list of integers.

    >>> df.iloc[[0]]
       a  b  c  d
    0  1  2  3  4
    >>> type(df.iloc[[0]])
    <class 'pandas.core.frame.DataFrame'>

    >>> df.iloc[[0, 1]]
         a    b    c    d
    0    1    2    3    4
    1  100  200  300  400

    With a `slice` object.

    >>> df.iloc[:3]
          a     b     c     d
    0     1     2     3     4
    1   100   200   300   400
    2  1000  2000  3000  4000

    With a boolean mask the same length as the index.

    >>> df.iloc[[True, False, True]]
          a     b     c     d
    0     1     2     3     4
    2  1000  2000  3000  4000

    With a callable, useful in method chains. The `x` passed
    to the ``lambda`` is the DataFrame being sliced. This selects
    the rows whose index label even.

    >>> df.iloc[lambda x: x.index % 2 == 0]
          a     b     c     d
    0     1     2     3     4
    2  1000  2000  3000  4000

    **Indexing both axes**

    You can mix the indexer types for the index and columns. Use ``:`` to
    select the entire axis.

    With scalar integers.

    >>> df.iloc[0, 1]
    2

    With lists of integers.

    >>> df.iloc[[0, 2], [1, 3]]
          b     d
    0     2     4
    2  2000  4000

    With `slice` objects.

    >>> df.iloc[1:3, 0:3]
          a     b     c
    1   100   200   300
    2  1000  2000  3000

    With a boolean array whose length matches the columns.

    >>> df.iloc[:, [True, False, True, False]]
          a     c
    0     1     3
    1   100   300
    2  1000  3000

    With a callable function that expects the Series or DataFrame.

    >>> df.iloc[:, lambda df: [0, 2]]
          a     c
    0     1     3
    1   100   300
    2  1000  3000

In [63]:
import pandas as pd
s=pd.Series(['Heet','is','moron','Heet','loves','Manali'])
s.loc[1]    # To get the values from Index 1
df.loc[:]   ## In DataFrames it give the Rows from gives index
df.loc[1]     ## It gives only row at row-index 1
df.loc[2]    ## It gives row at index 2
df.loc[:2]  ## From 0 to 2
df.iloc[0][1]   ## Don't Use parenthesis
df.iloc[0]      ## It gives element present at row 0
df.iloc[0][2]   ## at 0,2
df.iat[0,2]      ## at index 0,2

135

# By Label

In [12]:
import pandas as pd
data={"day":[0,1,2,3,4,5],
       "visitors": [1000,2000,3000,2500,1500,1300],
        "Bounce_rate": [100,200,150,135,160,101]}
df=pd.DataFrame(data,columns=['day','visitors','Bounce_rate'],index=[1,2,3,4,5,6])   ## Coulumns values should be same as Data Variables
df=pd.DataFrame(data,index=[1,2,3,4,5,6])  ## Same as above
df.loc[1]          ## Index is the key to retrieve data from DataFrame
df.loc[1][2]
df.loc[1]['visitors']
df.at[1,'Bounce_rate']      ## Same as above just remember the Syntax
#df.ix[2]         ## Select Single row of subset rows
#df.ix[1,'visitors']    ## Selecting row 1 of index from visitors

##Boolean Indexing
s=pd.Series([1,2,3])
s[s>2]   ## values>2
s[~(s>1)]    # Negation
s[(s<-1) | (s>2)]
df[df['day']>2]
s[3]=4
s

0    1
1    2
2    3
3    4
dtype: int64

In [50]:
## Dropping
import pandas as pd
data={"day":[0,1,2,3,4,5],
       "visitors": [1000,2000,3000,2500,1500,1300],
        "Bounce_rate": [100,200,150,135,160,101]}
df=pd.DataFrame(data,columns=['day','visitors','Bounce_rate'],index=[1,2,3,4,5,6]) 
df.drop(columns='Bounce_rate')
df.sort_index()
df.sort_values(by='Bounce_rate')
df.rank()
df.shape
df.index
df.columns
df.info()
df.count()  ##count the values
df.sum()       ## Sums all the entries in cols 
df.mean()
df.median()
df.std()
df.cumsum()  ## Cummulative Summation
df.min()/df.max()   ### Applies on entries by cols
print(df.idxmin()/df.idxmax())      ##forindex Values

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6 entries, 1 to 6
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   day          6 non-null      int64
 1   visitors     6 non-null      int64
 2   Bounce_rate  6 non-null      int64
dtypes: int64(3)
memory usage: 192.0 bytes
day            0.166667
visitors       0.333333
Bounce_rate    0.500000
dtype: float64

In [51]:
df.describe()    ##Summary statistics

            day     visitors  Bounce_rate
count  6.000000     6.000000     6.000000
mean   2.500000  1883.333333   141.000000
std    1.870829   762.670746    38.052595
min    0.000000  1000.000000   100.000000
25%    1.250000  1350.000000   109.500000
50%    2.500000  1750.000000   142.500000
75%    3.750000  2375.000000   157.500000
max    5.000000  3000.000000   200.000000

In [60]:
f=lambda x: x**2
df['day'].apply(f)       ## FUnction to Day col of Df
df.applymap(f)

   day  visitors  Bounce_rate
1    0   1000000        10000
2    1   4000000        40000
3    4   9000000        22500
4    9   6250000        18225
5   16   2250000        25600
6   25   1690000        10201

In [91]:
s=pd.Series([1,2,3,4,5,6],index=['a','b','c','d','e','f'])
s1=pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])  ##Index must be Same
s.add(s1,fill_value=2)  ## Nan in s1 replaced by 2
s.sub(s1,fill_value=3)
s.mul(s1,fill_value=6)
s.div(s1,fill_value=7)

a    1.000000
b    1.000000
c    1.000000
d    1.000000
e    1.000000
f    0.857143
dtype: float64

In [79]:
from sqlalchemy import create_engine
engine=create_engine('sqlite:///:memory:')
pd.read_sql('Select * from my_table;',engine)
pd.read_sql_table('my_table',engine)
pd.read_sql_query('Select * from my table;',engine)
pd.to_sql('myDf',engine)

OperationalError: (sqlite3.OperationalError) no such table: my_table
[SQL: Select * from my_table;]
(Background on this error at: http://sqlalche.me/e/13/e3q8)